@font-face {
    font-family: 'Rubik';
    src: url(./fonts/Rubik.ttf),
    url(./fonts/Rubik.eot),
    url(./fonts/Rubik.woff),
    url(./fonts/Rubik.otf),
    url(./fonts/Rubik.woff2),
    url(./fonts/Rubik.eot);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(247, 255, 211, 0.19);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
    /* max-width: 1650px; */
    width: 100%;
    padding-left: 141px;
    padding-right: 141px;
}

.head{
    margin-bottom: 18px;
}

.head__links{
    padding-left: 141px;
    padding-right: 141px;
}

.head__name{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: rgb(75, 131, 47);
    margin-right: 10px;
    font-size: 25px;
}

.head__link{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: rgba(91, 158, 57, 0.700);
    margin-right: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.head__link:hover{
    color: rgb(75, 131, 47);
}

hr{
    border: 1px solid rgb(198, 198, 198);
    /* max-width: 1510px; */
}

.mealtime{
    margin-left: 141px;
    font-family: 'Rubik', sans-serif;
    color: rgb(75, 131, 47);
    margin-bottom: 8px
}

.foodcard{
    /* display: block; */
    /* margin: 30px auto; */
    max-width: 272px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

.foodcard__img{
    /* max-width: 272px; */
    /* border-radius: 4px; */
    display: block;
    object-fit: cover;
    height: 160px;
    width: 272px;
}

.info{
    padding: 8px;
    max-width: 272px;
    width: 100%;
}

.price{
    display: flex;
    justify-content: space-between;
}

.price__card{
    color: #414141;
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 700;
    line-height: 150%; /* 27px */
}

.card{
    margin-bottom: 8px;
}

.card__type{
    color: #BFBFBF;
    font-family: 'Rubik';
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; /* 18px */
}

.price__noncard{
    color: #606060;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.title__product{
    color: #414141;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 8px;
}

.rating{
    display: flex;
    margin-bottom: 8px;
}

.rating__star{
    margin-right: 4px;
}

.card{
    display: flex;
    justify-content: space-between;
}

.foodcard__btn{
    display: flex;
    /* margin: 0 auto; */
    padding: 8px;
    justify-content: center;
    width: 256px;
    color: #70C05B;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #70C05B;
    transition: 0.3s;
}

.foodcard__btn:hover{
    display: flex;
    /* margin: 0 auto; */
    padding: 8px;
    justify-content: center;
    width: 256px;
    color: white;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    background-color: #70C05B;
    border-radius: 4px;
    border: 1px solid #70C05B;
}

.foodcard__discount{
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: inline-flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    border-radius: 4px;
    background: #F63;
}

.foodcard__favourite{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    /* padding: 8px; */
    gap: 8px;
    border-radius: 4px;
    opacity: 0.5;
    background: #F3F2F1;
    cursor: pointer;
    transition: 0.3s;
}

.foodcard__top{
    position: relative;
}

.heart svg{
    display: flex;
    color: transparent;
    stroke: #414141;
    transition: 0.3s;
}

.heart:hover svg{
    stroke: red;
    color: red;
}

.footer{
    background-color: rgba(91, 158, 57, 0.700);
}

@media screen and (max-width:554px) {
    .cards{
        padding-left: 21px;
        padding-right: 21px;
    }

    .head__links{
        padding-left: 21px;
        padding-right: 21px;
    }

    .mealtime{
        margin-left: 21px;
    }
}